<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <title>coffee</title>
    <link href= "/public/assets/reset.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

      <link href= "/public/assets/grid.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>


      <div class="bg">
        <nav>
            <div class="brand">
              <a href="/">Coffee Lover</a>
            </div>

            <ul class ="main-nav desktop">
              <li><a href="/" class="selected">Home</a></li>
              <li><a href="/coffeeshops">Coffee Shops</a></li>  <!-- Untergeordnet Bewertung abgeben -->
              <li><a href="#">Magazine</a></li>
            </ul>

          <div class="log">
            <ul class="desktop">
              <li class="desktop"><a href="/login">Log In</a></li>
              <li class="desktop"><a href="/register">Sign Up</a></li>
            </ul>
            <!-- <i class="fas fa-bars fa-2x mobile" onclick="myFunction()"></i> -->
      </nav>
    </div>
