<% include partials/navbar %>
    <h1>All the coffeeshops</h1>
    <p>Here you can see all the different coffeeshops</p>
    <div class="gallery">
      <% coffeeshops.forEach(function(coffeeshop) { %>
      <div class="container">
        <h3><a href="/coffeeshops/<%= coffeeshop.name %>"><%= coffeeshop.name %></a></h3>
        <p><%= coffeeshop.street + " " + coffeeshop.zip + " " + coffeeshop.town; %></p>
      </div>
          <% }); %>
    </div>
    <h2>The newest coffeeshops</h2>
    <p>Show some stuff here</p>
  </body>
</html>
