<% include partials/navbar %>
    <h1>Login</h1>
    <p>login to an existing account via e-mail, username, facebook, google+</p>

    <h2>Welcome back</h2>
    <form>
      <input type="text" name="" value="" placeholder="Username or e-mail">
      <input type="text" name="" value="" placeholder="password">
    </form>
  </body>
</html>
