<% include partials/navbar %>
    <h1>Create a new coffeeshop</h1>

    <h2>Put all the information here</h2>
    <form action="/coffeeshops" method="POST">
      <input type="text" name="name" value="" placeholder="name">
      <input type="text" name="zip" value="" placeholder="zip">
      <input type="text" name="street" value="" placeholder="street">
      <input type="text" name="town" value="" placeholder="town">
      <button>Submit</button>
    </form>
  </body>
</html>
