<% include partials/navbar %>
    <h1>Sigup for an account</h1>
    <p>sigup via e-mail, facebook, google+</p>

    <h2>Just some informations here</h2>
    <form>
      <input type="text" name="" value="" placeholder="Username or e-mail">
      <input type="text" name="" value="" placeholder="password">
    </form>
  </body>
</html>
